{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} Boards {% endblock%}

{% block content %}
    <div class="container my-4">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-body-tertiary p-3 rounded shadow-sm">
      <li class="breadcrumb-item">
        Boards
      </li>
    </ol>
  </nav>

      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
            <tr>
              <td>
                <strong> <a href="{% url 'board_topics:topics_in_board' board.slug %}"> {{board.name}} </a> </strong>
                <small class="text-muted d-block">{{ board.description }}</small>
              </td>
              <td class="align-middle">{{ board.post_count }}</td>

              <td class="align-middle">{{board.topics.count}}</td>
              <td>
              {% if board.topics.count %}
              
                    <a href="{% url 'board_topics:topic_posts' board.slug board.topics.last.topic_slug %}" class="text-decoration-none">
                    By {{board.topics.last.created_by}} at {{board.topics.last.created_at}}
                  </a>
              
              {% else %}
              <small class="text-muted">
              <em>No posts yet.</em>
              </small>
        {% endif %}
        </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4" class="text-center text-muted">No boards available.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock%}